.vs
/source/Skyline.VC.db
/source/Skyline.VC.VC.opendb
/source/Skyline.psess
/source/Skyline161106.vspx
/build/obj
/build/Debug/Ess2D/*
/build/Release/Ess2D/*
/build/Debug/Skyline/Skyline.exe
/build/Debug/Skyline/Skyline.ilk
/build/Debug/Skyline/Skyline.pdb
/build/Debug/Skyline/Levels
/build/Debug/Skyline/Shaders
/build/Debug/Skyline/Sounds
/build/Debug/Skyline/Textures
/build/Release/Skyline/Skyline.exe
/build/Release/Skyline/*.iobj
/build/Release/Skyline/*.ipdb
/build/Release/Skyline/Levels
/build/Release/Skyline/Shaders
/build/Release/Skyline/Sounds
/build/Release/Skyline/Textures
