/source/Skyline.VC.db
/source/SDLProject.VC.db
/source/SDLProject.vcxproj
/source/SDLProject.vcxproj.filters
/source/SDLProject.vcxproj.user
/source/Skyline.VC.VC.opendb
/source/SDLProject.v12.suo
.vs
/source/Skyline/Debug/*.obj
Shaders
Skyline.tlog
Textures
/source/Skyline/Debug/Skyline.pdb
/source/Skyline/Debug/vc140.idb
/source/Skyline/Debug/vc140.pdb
/source/Skyline/Debug/Skyline.exe
/source/Skyline/Debug/Skyline.ilk
/source/Essengine/Debug/*.obj
/source/Essengine/Debug/Essengine.idb
/source/Essengine/Debug/Essengine.lib
/source/Essengine/Debug/Essengine.pdb
/source/Essengine/Debug/Essengine.tlog/CL.command.1.tlog
/source/Essengine/Debug/Essengine.tlog/CL.read.1.tlog
/source/Essengine/Debug/Essengine.tlog/CL.write.1.tlog
/source/Essengine/Debug/Essengine.tlog/Essengine.lastbuildstate
/source/Essengine/Debug/Essengine.tlog/Lib-link.read.1.tlog
/source/Essengine/Debug/Essengine.tlog/Lib-link.write.1.tlog
/source/Essengine/Debug/Essengine.tlog/lib.command.1.tlog
/source/Skyline/Debug/Levels
/source/Skyline.psess
/source/Skyline/Debug/Skyline.Build.CppClean.log
/source/Skyline161106.vspx
/source/Essengine/Debug/*.log
