/source/bin/Debug/SDLProject.exe
/source/obj
/source/SDLProject.cscope_file_list
/source/bin/Debug/Textures
/source/bin/Debug/Shaders
/source/Debug/SDLProject.ilk
/source/Debug/Textures
/source/Debug/Shaders
/source/Debug/SDLProject.exe
